/**********************************

Hero

**********************************/

.hero {
  background-image: url("/images/bg-pattern.png");
  background-color: $blue-light;
  background-blend-mode: multiply;

  .container {
    padding: 6vw;
    text-align: center;

    .strong {
      font-weight: bold;
    }

    h2 {
      font-weight: 300;
      max-width: 620px;
      margin: 0 auto 20px;
      color: $white;
      text-shadow: 2px 2px rgba($black, .2);
    }

    .button-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }

    .button {
      margin: 20px 0 10px;
      max-width: 200px;
      box-shadow: 2px 2px rgba($black, .1);
    }
  }

  @media (min-width: 768px) {
    .container.hero {
      .button-holder {
        flex-direction: row;
      }

      .button {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
}
