<footer>
  <div class="container footer">
    <a href="https://www.cncf.io/" style="width: 50%;"><img src="/images/cncf-color.svg" class="footer-logo" alt="CNCF logo" ></a>
    <p>We are a <a href="https://www.cncf.io/">Cloud Native Computing Foundation</a> incubating project.</p>
  </div>
  <div class="bg-blue">
    <div class="container sub-footer">
      <ul>
        {{ range $i, $item := $.Site.Menus.footer1 }}
        <li>{{ if $i }}<span>&bull;</span>{{ end }}<a target="_blank" rel="noopener noreferrer" href="{{ $item.URL }}">{{$item.Name}}</a></li>
        {{ end }}
      </ul>

      <ul>
        {{ range $i, $item := $.Site.Menus.footer2 }}
        <li>{{ if $i }}<span>&bull;</span>{{ end }}<a target="_blank" rel="noopener noreferrer" href="{{ $item.URL }}">{{$item.Name}}</a></li>
        {{ end }}
      </ul>
    </div>
    <div class="container sub-footer">
      <ul>
        <li><p>Copyright © 2022 The Linux Foundation ®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="(https://www.linuxfoundation.org/trademark-usage">Trademark Usage page</a></p></li>
      </ul>
    </div>
  </div>
</footer>
