{{ $isHome        := .IsHome }}
{{ $summary       := .Summary | plainify | truncate 199 "…" }}
{{ $description   := cond $isHome site.Params.description $summary }}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ with $description -}}
  <meta name="description" content="{{ . }}"/>
{{- end }}
<link rel="canonical" content="{{ .Permalink }}">
<link rel="icon" type="image/png" href="/images/favicon.png">

{{ $title         := cond $isHome site.Title (printf "%s · %s" .Title site.Title) }}
{{ $ogImageUrl    := ("images/buildpacks-social-card.jpg" | absURL) }}
{{ $ogType        := cond $isHome "website" "article" }}

<!-- Facebook / OpenGraph metadata-->
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{ site.Title }}">
{{ with $description -}}
  <meta property="og:description" content="{{ . }}">
{{- end }}
<meta property="og:type" content="{{ $ogType }}">
<meta property="og:image" content="{{ $ogImageUrl }}">
<meta property="og:image:alt" content="Buildpacks project logo">
<meta property="og:image:type" content="image/jpeg">


<!-- Twitter Card metadata -->
{{ $twType      := cond $isHome "summary_large_image" "summary"}}
{{ $twImageUrl  := (cond $isHome "images/buildpacks-social-card.jpg" "images/buildpacks-social-card-square.jpg" ) | absURL }}
{{ $twHandle    := site.Params.twitter_handle }}
<meta property="twitter:title" content="{{ $title }}">
<meta property="twitter:card" content="{{ $twType }}">
<meta property="twitter:image" content="{{ $twImageUrl }}">
<meta property="twitter:image:alt" content="Buildpacks project logo">
<meta property="twitter:site" content="@{{ $twHandle }}">
<meta property="twitter:creator" content="@{{ $twHandle }}">