{{- $currentNode := . -}}

<nav class='sidebar'>
  {{ with .Site.GetPage "/docs" }}
    {{- $home := . -}}
    <ul>
      <li data-nav-id="{{.URL}}" class="dd-item depth-0">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <ul class="ml-2">
          {{- $pages := .Pages -}}
          {{- range .Pages.ByWeight }}
            {{- if (not .Params.hidden) }}
              {{ $expand := (or (eq $currentNode $home) (in $pages $currentNode))}}
              {{- template "section-tree-nav" dict "currentSection" . "currentNode" $currentNode "depth" 1 "expand" $expand }}
            {{- end}}
          {{- end}}
        </ul>
      </li>
    {{- range .Sections.ByWeight }}
      {{- if (not .Params.hidden) }}
        {{- template "section-tree-nav" dict "currentSection" . "currentNode" $currentNode "depth" 0 "expand" false }}
      {{- end}}
    {{- end}}
    </ul>
  {{ end }}
</nav>

<!-- templates -->
{{- define "section-tree-nav" }}
  {{- $parentExpanded := .parentExpanded }}
  {{- $currentNode := .currentNode }}
  {{- $expand := .expand }}
  {{- $depth := .depth }}
  {{- with .currentSection}}
    {{- if (not (.Params.hidden))}}
      {{- $isCurrent := (eq .URL $currentNode.URL) -}}
      {{- $isParent := (and (.IsAncestor $currentNode) (.IsSection)) -}}
      {{- $isCollapsed := (and (gt $depth 0) (not (or $isParent $isCurrent $expand))) }}
      {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{- safeHTML .Params.head}}
      <li data-nav-id="{{.URL}}" class="dd-item depth-{{ $depth }}
          {{- if $isParent }} parent {{- end }}
          {{- if $isCurrent }} active {{- end }}
          {{- if $isCollapsed }} collapse {{- end }}
          {{- if ne $numberOfPages 0 }} haschildren{{end -}}
      ">
        <a href="{{ .RelPermalink }}">{{safeHTML .Params.Pre}}{{.Title | markdownify}}{{safeHTML .Params.Post}}</a>

        {{- if ne $numberOfPages 0 }}
          {{- $depth = add (int $depth) 1 }}
          <ul class="ml-2">
            {{- $expand = .Params.expand -}}
            {{- $pages := (.Pages | union .Sections) }}
            {{- range $pages.ByWeight }}
              {{- if (not .Params.hidden) }}
              {{- template "section-tree-nav" dict "currentSection" . "currentNode" $currentNode "depth" $depth "expand" (or $expand $isParent) }}
              {{- end}}
            {{- end}}
          </ul>
        {{- end}}
      </li>
    {{- end}}
  {{- end}}
{{- end}}
