<div class="support-links text-right">
  {{ if (or .IsNode .IsPage) }}
    {{ $issueBody := printf "**On Page:** [%s](%s)" .Title .Permalink | htmlEscape }}
    {{ $issueQuery := (querify "body" $issueBody) }}
    <a href="{{ $.Site.Params.github_base_url }}/docs/issues/new?{{ $issueQuery | safeURL }}"
       class="button-light button-small icon-button blank bg-white inline-flex" target="_blank">Report Issue</a>

    {{ if .Params.no_edit }}
    {{ else }}
    {{ $editQuery := (querify "description" "Signed-off-by: NAME <EMAIL_ADDRESS>\n\n> _By signing off you acknowledge adhering to the requirements listed here: https://probot.github.io/apps/dco/_") }}
      <a href="https://github.com/buildpacks/docs/edit/main/content/docs/_index.md?description=Signed-off-by%3A&#43;NAME&#43;%3CEMAIL_ADDRESS%3E%0A%0A%3E&#43;_By&#43;signing&#43;off&#43;you&#43;acknowledge&#43;adhering&#43;to&#43;the&#43;requirements&#43;listed&#43;here%3A&#43;https%3A%2F%2Fprobot.github.io%2Fapps%2Fdco%2F_"
      class="button-light button-small icon-button github-button bg-white inline-flex" target="_blank">Edit</a>
    {{ end }}
  {{ end }}
</div>
