/**********************************

Code

**********************************/

code {
  font-size: 87.5%;
  color: $pink;
  word-break: break-word;
  padding-left: 5px;
  padding-right: 5px;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: $white;
  background-color: $gray-dark;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 400;
}

pre {
  display: block;
  font-size: 87.5%;
  color: $gray-dark;
}

pre code {
  font-size: inherit;
  word-break: normal;
  color: $gray-light;
  padding: 0;
}
