/**********************************

Helpers and Resets

**********************************/

.img-center {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%; /* responsive images */
}

.text-right {
  text-align: right;
}

.inline-flex {
  display: inline-flex;
}
