/**********************************

Helpers and Resets

**********************************/

.img-center {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%; /* responsive images */
}

.text-right {
  text-align: right;
}

.inline-flex {
  display: inline-flex;
}

.opacity-0 {
  opacity: 0;
}

.opacity-50 {
  opacity: .5;
}

.opacity-100 {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}