<div class='toc'>
  {{ range .Page.Pages }}
    {{ $current := . }}
    <!-- ignore empty links with + -->
    {{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
    <!-- at least one header to link to -->
    {{ $has_headers := ge (len $headers) 1 }}
    <!-- a post can explicitly disable Table of Contents with toc: false -->
    {{ if $has_headers }}
      <!-- TOC header -->
      <a href="{{ .RelPermalink }}">{{ .Title }}</h4>
      {{ range $headers }}
        {{ $header := . }}
        {{ range first 1 (findRE "<h[1-6]" $header 1) }}
          {{ range findRE "[1-6]" . 1 }}
            {{ $next_heading := (int .) }}
            <!-- generate li array of the proper depth -->
            {{ range seq $next_heading }}
              <ul class="toc-h{{ . }}">
            {{end}}
            {{ $base := ($current.File.LogicalName) }}
            {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
            {{ $href := delimit (slice $base $anchorId) "#" | string }}
            <li>
              <a href="{{ relref $current $href }}">
                {{ $header | plainify | htmlEscape }}
              </a>
            </li>
            <!-- close list -->
            {{ range seq $next_heading }}
              </ul>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>


