/**********************************

Text Note

**********************************/

.text-note,
blockquote {
  background-color: $off-gray;
  border-radius: 5px;
  padding: 20px;
  font-size: .9rem;
  line-height: 180%;
  color: $gray-dark;

  h3 {
    color: inherit;
    font-size: larger;
  }

  p {
    margin: 0;
  }
}
