<!doctype html>
<html>
  <head>
    {{ partial "meta.html" . }}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Source+Sans+Pro:400,400i,600" rel="stylesheet">
    {{ $style := resources.Get "scss/site.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {{/*  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124323167-1"></script>  */}}
    {{/*  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124323167-1');
    </script>  */}}

    <script>
      function addAnchor(element) {
        if (element.id === "" || element.getElementsByTagName("a").length > 0) {
          return;
        }

        element.innerHTML =
          `<a href="#${element.id}" class="h-anchor">
            <i class="fas fa-link icon" ariaLabel="Anchor"></i> ${element.innerHTML}
          </a>`;
      }

      document.addEventListener('DOMContentLoaded', function () {
        var headers = document.querySelectorAll('h1, h2, h3, h4, h5');

        if (headers) {
          headers.forEach(addAnchor);
        }
      });
    </script>

    <title>{{ .Title }} · {{ .Site.Title }}</title>
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
