/**********************************

Base

**********************************/

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $blue-dark;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
}
