@import 'reboot';
@import 'helpers';
@import 'colors';
@import 'base';
@import 'layout';
@import 'typography';
@import 'code';

@import 'components/grid';
@import 'components/header';
@import 'components/hero';

.inset-grey-container {
  background-color: $off-white;
  box-shadow: inset 0 1px 12px 0 rgba($black, 0.03);
}

@import 'components/content';

/**** text ****/

.content h2 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.content h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 40%;
  height: 2px;
  background-color: #242960;
}

.text-note {
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 20px;
  font-size: .9rem;
  line-height: 180%;
}

.text-note h3 {
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
}

@import 'components/button';

/**** lists ****/

.content ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.content li {
  border-left: 1px solid #D1D4E7;
  color: #47529E;
  margin-bottom: 10px;
  padding-left: 20px;
}

pre code, .text-note {
  color: #777;
}

/**** code ****/

@import 'components/code';
@import 'components/footer';
