{{ define "main" }}

<div class="well">
  <section class="container hero">
    <h1><span class="text-pink">Buildpacks</span> are pluggable, modular tools that translate source code into OCI images.</h1>
    <p class="button-holder">
      <a href="#learn-more" class="bg-pink button">Learn More</a>
      <a href="https://www.cncf.io/blog/2018/10/03/cncf-to-host-cloud-native-buildpacks-in-the-sandbox">Read the Announcement</a>
    </p>
  </section>
</div>

<div id="learn-more" class="container content">
    <h2>What Are Buildpacks?</h2>

    <section class="row">
    <div class="col-sm">
      <p>Buildpacks provide a higher-level abstraction for building apps compared to Dockerfiles.</p>

      <p>Specifically, buildpacks:</p>
      <ul>
        <li>Provide a balance of control that reduces the operational burden on developers and supports enterprise operators who manage apps at scale.</li>
        <li>Ensure that apps meet security and compliance requirements without developer intervention.</li>
        <li>Provide automated delivery of both OS-level and application-level dependency upgrades, efficiently handling day-2 app operations that are often difficult to manage with Dockerfiles.</li>
        <li>Rely on compatibility guarantees to safely apply patches without rebuilding artifacts and without unintentionally changing application behavior.</li>
      </ul>
    </div>
    <div class="col-sm">
      <p>Buildpacks were first conceived by Heroku in 2011. Since then, they have been adopted by Cloud Foundry and other PaaS such as Gitlab, Knative, Deis, Dokku, and Drie.</p>

      <p>The <b>Cloud Native Buildpacks</b> project was initiated by Pivotal and Heroku in January 2018 and joined the <a href="https://www.cncf.io/">Cloud Native Sandbox</a> in October 2018. The project aims to unify the buildpack ecosystems with a <a href="https://github.com/buildpack/spec/blob/master/buildpack.md" target="blank">platform-to-buildpack contract</a> that is well-defined and that incorporates learnings from maintaining production-grade buildpacks for years at both Pivotal and Heroku.</p>

      <p>Cloud Native Buildpacks embrace modern container standards, such as the OCI image format. They take advantage of the latest capabilities of these standards, such as cross-repository blob mounting and image layer "rebasing" on Docker API v2 registries.</p>
    </div>
  </section>
</div>

<div id="get-started" class="well content">
  <section class="container">
    <h2>Getting Started with Cloud Native Buildpacks</h2>

    <div class="row">
      <div class="col-sm">
        <p>Until cloud platforms such as Heroku and Cloud Foundry incorporate the <a href="https://github.com/buildpack/lifecycle" target="blank">Buildpack v3 Lifecycle</a>, the fastest way to try Cloud Native Buildpacks is via the <code class="highlight">pack</code> CLI, which integrates with your local Docker daemon.</p>

        <p>Please make sure you have Docker Community Edition installed on your machine.</p>

        <p class="pb-3"><a href="https://store.docker.com/search?type=edition&offering=community" class="download-button button icon-button bg-blue">Download Docker Community Edition</a></p>

        <p>Next you will need to download and install <code class="highlight">pack</code> &mdash; the Cloud Native Buildpack CLI. This will allow you to use Cloud Native Buildpacks in your local environment.</p>

        <p><a href="https://github.com/buildpack/pack/releases" class="download-button button icon-button bg-pink">Download pack via GitHub</a></p>
      </div>

      <div class="col-sm">
        <div class="text-note mt-4 mt-sm-0">
          <h3>Please note:</h3>

          <p><strong>This project just started!</strong> Very few buildpacks currently support the Buildpack v3 API.</p>

          <p>By default, the CLI only includes <a href="https://github.com/buildpack/samples" target="blank">sample buildpacks</a> for Node.js and Java. To address this, we are actively adding v3 support to existing buildpacks. Until then, this CLI is only useful for developing new v3 buildpacks and for porting existing buildpacks to the v3 API.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h3>Building your application</h3>

        <p>Let’s get started building your first application with Cloud Native Buildpacks.</p>

        <p>Build your application by passing in your application source code directory and image name to the <code class="highlight">pack build</code> command.</p>

        <pre class="command-line code-block"><code>pack build --path &lt;path to source code&gt; &lt;repository name&gt;:&lt;image tag (optional)&gt;</code></pre>

        <p>Upon a successful build, you will see your image in your local Docker daemon.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h3 class="pt-5">Running Your Application</h3>
        <p>Now that you have successfully built your OCI image using Cloud Native Buildpacks you can run your application using the Docker CLI.</p>

        <pre class="command-line code-block"><code>docker run -p 8080:8080 &lt;image name&gt;</code></pre>

        <p>Congratulations! You have now successfully built and run your first application with Cloud Native Buildpacks.</p>
      </div>
    </div>
  </section>
</div>

{{ end }}
