<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="text-pink font-weight-bold">Buildpacks vs Dockerfiles</p>
        <p class="card-text">
          An indepth comparison between Cloud Native Buildpacks and Dockerfiles.
        </p>
        <a href="#" class="small text-pink mr-md-3 text-decoration-none"
          >Read more →</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="text-pink font-weight-bold">Buildpacks and S2i</p>
        <p class="card-text">
          Analysis and Comparison of Cloud Native Buildpacks and Source to
          Image.
        </p>
        <a href="#" class="small text-pink mr-md-3 text-decoration-none"
          >Read more →</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <p class="text-pink font-weight-bold">Buildpacks vs Dockerfiles</p>
        <p class="card-text">
          An indepth comparison between Cloud Native Buildpacks and Dockerfiles.
        </p>
        <a href="#" class="small text-pink mr-md-3 text-decoration-none"
          >Read more →</a
        >
      </div>
    </div>
  </div>
</div>
