<script type="application/javascript">
    const CAL_CONFIG = {{ $.Site.Data.calendar | jsonify | safeJS }};
    const API_BASE_URL = "https://api.teamup.com/";
    const API_OPTIONS = {
        headers: {
            "Teamup-Token": CAL_CONFIG.token
        }
    };
    const START_DATE = function () {
        let date = new Date();
        date.setMonth(date.getMonth() - 3);
        return date.toISOString().split('T')[0];
    }();
    const END_DATE = function () {
        let date = new Date();
        date.setMonth(date.getMonth() + 6);
        return date.toISOString().split('T')[0];
    }();

    Promise.all(
        CAL_CONFIG.subcalendars.map(subcalendar => {
            // get subcalendar data from teamup
            return axios.get(
                `${API_BASE_URL}${CAL_CONFIG.id}/events?`
                    .concat(
                        `startDate=${START_DATE}`,
                        `&endDate=${END_DATE}`,
                        `&subcalendarId[]=${subcalendar.id}`
                    ), API_OPTIONS)
                .then(result => {
                    subcalendar.events = result.data.events;
                    return subcalendar;
                })
        })).then(subcalendars => {
            // convert to usable events and merge all calendar events to a single array
            return subcalendars.flatMap(subcalendar => {
                return subcalendar.events.map(teamup_event => {
                    let event = {
                        teamup_event,
                        id: teamup_event.id,
                        title: teamup_event.title,
                        location: teamup_event.location,
                        //     url: url, TODO
                        backgroundColor: subcalendar.color,
                        start: teamup_event.start_dt,
                        end: teamup_event.end_dt
                    };
                    return event;
                })
            })
        }).then(events => {
            $(function () {
                (new FullCalendar.Calendar(document.getElementById('calendar-view'), {
                    initialView: 'dayGridWeek',
                    height: 'auto',
                    headerToolbar: {
                        start: 'title',
                        end: 'dayGridWeek,dayGridMonth prev,today,next'
                    },
                    events: events,
                    views: {
                        dayGridMonth: {
                            weekends: true,
                            fixedWeekCount: false,
                            showNonCurrentDates: false,
                        },
                        dayGridWeek: {
                            weekends: false
                        }
                    }
                })).render();
            });
        });
</script>


<div id='calendar-view' class="calendar"></div>

<div class="row pt-3 small">
    <div class='col-md-6'>
        <span class="font-italic text-muted">
            * Events displayed in local time.
        </span>
    </div>
    <div class='col-md-6 text-right d-none d-xl-block'>
        <span>
            Download events as <code>.ics</code>:
        </span>
        <ul class="d-inline">
            {{- range $calData := $.Site.Data.calendar.subcalendars }}
            <li class="d-inline text-white rounded px-2 py-1" style="background-color: {{ $calData.color }};">
                <a style="text-decoration: none; white-space: nowrap;" href="https://ics.teamup.com/feed/{{ $.Site.Data.calendar.id }}/{{ $calData.id }}.ics">{{ $calData.name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>