<div id="talks" class="px-2">
  <div class="row border">
    <div id="talks-player" class="col-md-8 px-0">
      <!-- https://css-tricks.com/aspect-ratio-boxes/#the-core-concept-padding-in-percentages-is-based-on-width -->
      <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
        <iframe class="border-0 w-100 h-100" style="position: absolute; top: 0; left: 0;" allowfullscreen
          title="talks"></iframe>
      </div>
    </div>
    <div id="talks-playlist" class="col-md-4 px-0">
      <!-- https://css-tricks.com/aspect-ratio-boxes/#the-core-concept-padding-in-percentages-is-based-on-width -->
      <div style="position: relative; padding-bottom: 109.25%; height: 0; overflow: auto;">
        {{ range $i, $talk := $.Site.Data.talks }}
        <div data-talk-index="{{$i}}" class="talk border-bottom pl-2 pr-1 py-1 pointer">
          <div class="small font-weight-bold">{{ $talk.name }}</div>
          <div class="small font-italic">
            {{ range $i, $presenter := $talk.presenters }}
            {{if ne $i 0}} & {{ end }}
            <span class="talks-presenter">{{$presenter}}</span>
            {{ end }}
          </div>
          <div class="small bg-pink px-1 d-inline-block rounded text-light">
            {{ $talk.event_name }} ({{ $talk.year }})
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div>
      <div class="font-weight-bold">Description</div>
      <div id="talk-description"></div>
    </div>
  </div>
  <div class="row p-2">
    <div>
      <div class="font-weight-bold">Resources</div>
      <div id="talk-resources"></div>
    </div>
  </div>
</div>

<script type="application/javascript">
  let talks = {{ $.Site.Data.talks | jsonify | safeJS }};

  $(function () {
    let $talkDescription = $("#talk-description");
    let $talkResources = $("#talk-resources");

    $("#talks-playlist div[data-talk-index]").on('click', function () {
      $el = $(this);
      let index = $el.attr('data-talk-index');
      let talk = talks[index];

      // set active talk in playlist
      $("#talks-playlist div[data-talk-index]").each(function () {
        $(this).attr('data-active', 'false');
      })
      $(this).attr('data-active', 'true');

      // update video player
      let $video_player = $("#talks-player iframe");
      let url = "https://www.youtube.com/embed/" + talk.youtube_id + "?autoplay=0&modestbranding=1&rel=0&iv_load_policy=3&controls=1";
      if (url != $video_player.attr("src")) {
        $video_player.attr("src", url);
        $video_player.attr("title", talk.name);
      }

      // populate description
      $talkDescription.empty().html(talk.description);

      // populate resources
      $talkResources.empty();
      (talk.resources || []).forEach(resource => {
        $talkResources.append(`
        <a class="d-inline-block button-light button rounded border p-1" href="${resource.url}" target="_blank">
          <i class="fas fa-${resource.icon}"></i> ${resource.name}
        </a>
        `);
      });
    });

    $("#talks-playlist div[data-talk-index]")[0].click();
  });
</script>