name: reviewdog
on: [pull_request]

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: errata-ai/vale-action@v2.1.1
        with: 
          fail_on_error: true
          token: ${{secrets.GITHUB_TOKEN}}
          files: ./content